In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
source = pd.read_excel('data.xlsx',sheet_name='source')

In [3]:
df = pd.read_excel('data.xlsx',sheet_name='Data')

In [4]:
source.head()

               sector  Municipality area   city
0           حصاربوعلی                  1  تهران
1  رستم آباد- فرمانیه                  1  تهران
2                اوین                  1  تهران
3                درکه                  1  تهران
4            زعفرانیه                  1  تهران

In [21]:
df.head()

,Number,Customer Name,Details,Latitude,Longitude
0,1081095,ابراهیم آل ابراهیم - سایت تهران - 2237760,خ محلاتی خ کیانی خ میثم انتهای خیابان پ 7,___,___
1,1117381,جواد بیگلری سایت کرج,فردیس کانال غربی خ دهکده بازار روز نقشه جهان غ...,35.733427,50.970085
2,1104462,شرکت زنجیره ای غذایی امیران (برغان),کرج-میدان آزادگان-خیابان برغان-رو به روی بازار...,35.8212,51.0018
3,1104474,شرکت زنجیره ای غذایی امیران (عظیمیه),کرج-عظیمیه – خیابان میخک بازار روز سابق میخک,35.8407,51.0099
4,1067853,فروشگاه اتکا فاز 4 مهرشهر-سایت کرج,کرج-فاز 4 مهرشهر- بلوار شهید خانزاده قبل از چه...,35.8138,50.9316

In [25]:
def extract_county(lat,lon):
    if(lat!='___' and lon!='___'):
        location_list = '---'
        while (location_list =='---'):
            try:
                location_list = json.loads(requests.get('https://api.snapp.express/map/address/reverse?lat={}&lon={}'.format(lat,lon),timeout=3).text)[0]['data']
            except:
                pass
        try:
            return list(filter(lambda item: item["type"] == 'county', location_list))[0]['name']
        except:
            return '___'
    else:
        return '___'

In [26]:
df['county'] = df.apply(lambda x: extract_county(x['Latitude'], x['Longitude']),axis=1)

In [28]:
def extract_neighbourhood(lat,lon):
    if(lat!='___' and lon!='___' and ):
        location_list = '---'
        while (location_list =='---'):
            try:
                location_list = json.loads(requests.get('https://api.snapp.express/map/address/reverse?lat={}&lon={}'.format(lat,lon),timeout=3).text)[0]['data']
            except:
                pass
        try:
            return list(filter(lambda item: item["type"] == 'neighbourhood', location_list))[0]['name']
        except:
            return '___'
    else:
        return '___'

In [29]:
df['neighbourhood'] = df.apply(lambda x: extract_county(x['Latitude'], x['Longitude']),axis=1)

In [30]:
df.head()

,Number,Customer Name,Details,Latitude,Longitude,county,neighbourhood
0,1081095,ابراهیم آل ابراهیم - سایت تهران - 2237760,خ محلاتی خ کیانی خ میثم انتهای خیابان پ 7,___,___,___,___
1,1117381,جواد بیگلری سایت کرج,فردیس کانال غربی خ دهکده بازار روز نقشه جهان غ...,35.733427,50.970085,فردیس,فردیس
2,1104462,شرکت زنجیره ای غذایی امیران (برغان),کرج-میدان آزادگان-خیابان برغان-رو به روی بازار...,35.8212,51.0018,___,___
3,1104474,شرکت زنجیره ای غذایی امیران (عظیمیه),کرج-عظیمیه – خیابان میخک بازار روز سابق میخک,35.8407,51.0099,___,___
4,1067853,فروشگاه اتکا فاز 4 مهرشهر-سایت کرج,کرج-فاز 4 مهرشهر- بلوار شهید خانزاده قبل از چه...,35.8138,50.9316,___,___

In [21]:
selected_location_list = '---'
while (selected_location_list =='---'):
    try:
        selected_location_list = json.loads(requests.get('https://api.snapp.express/map/address/reverse?lat=35.733427&lon=50.970085',timeout=3).text)[0]['data']
    except:
        pass

In [25]:
selected_location_list

[{'name': 'لبنیات بوستان ۲ دهکده', 'type': 'poi'},
 {'name': 'دهکده', 'type': 'secondary'},
 {'name': 'نسترن غربی', 'type': 'neighbourhood'},
 {'name': 'فردیس', 'type': 'county'}]

In [27]:
# city = next(item['name'] for item in selected_location_list if item["type"] == "city") # first solution

# neighbourhood = next(item['name'] for item in selected_location_list if item["type"] == "neighbourhood")

# primary = next(item['name'] for item in selected_location_list if item["type"] == "primary")

# city = list(filter(lambda item: item["type"] == 'city', selected_location_list))[0]['name']

neighbourhood = list(filter(lambda item: item["type"] == 'neighbourhood', selected_location_list))[0]['name']

# primary = list(filter(lambda item: item["type"] == 'primary', selected_location_list))[0]['name']

secondary = list(filter(lambda item: item["type"] == 'county', selected_location_list))[0]['name'] # second solution

selected_location = neighbourhood + ' , '  + secondary

In [28]:
selected_location

'نسترن غربی , فردیس'